body {
    font-family: 'Segoe UI', Tahoma, Verdana,sans-serif;
    background-color: #1b1b1b;
    color:lightgrey;
    
    
}

a { 
    text-decoration: none;
    color: inherit;
}

h1,
h2 { 
    font-weight: 200;
    line-height: 1.4;
    margin: 10px 0;

}
img{
    width: 100%;
}

header .container {
    max-width: 1500px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 50px;
}

.navbar {
    min-height: 100px;
    height: 100px;
    background-color: #2885B0;
    
}

.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex: 1 1 auto;
}

.navbar ul{
    display: flex;
}

.navbar li {
    padding: 10px 40px;
    font-size: larger;
}

.navbar li:hover {
    border-bottom: 3px solid  ;
}

#name {
    font-size: 350%;
    font-weight: 400;
    
}




/* Main body content styling */
main {
    min-height: 100vh;
    margin: 0;
}

main .flex {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

main .container {
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}






/* Footer Styling */

footer .container {
    max-width: 1500px;
    
    margin: 0 auto;
    overflow: auto;
    padding: 0 50px;
    
}

.contact {
    height: 100px;
    
    background-color: #2885B0;

}

.contact .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex: 1 1 auto;
    
}

.contact ul{
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
}

.contact li {
    padding: 10px 40px;
    font-size: larger;

}

.contact li:hover {
    border-bottom: 3px solid  ;
}
    



