body {
    font-family: 'Segoe UI', Tahoma, Verdana,sans-serif;
    background-color: #1b1b1b;
    color:lightgrey;
    
    
}

a { 
    text-decoration: none;
    color: inherit;
}

h1,
h2 { 
    font-weight: 200;
    line-height: 1.4;
    margin: 10px 0;
}
img{
    width: 100%;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* Header Styling */

header .container {
    max-width: 1500px;
    margin: 0 auto;
    overflow: auto; 
    padding: 0 50px;
}

.navbar {
    height: 100px;
    background-color: #2885B0;
    min-height: 100px;
}
@media screen and (max-width: 1000px) {
    .navbar{
        height: fit-content;
        
    }
}

.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex: 1 1 auto;
    flex-wrap: wrap;
}
@media screen and (max-width: 1000px) {
    .navbar .flex{
        height: fit-content;
        flex-direction: column;
        
    }
}
.navbar ul{
    display: flex;
    flex-wrap: wrap;
    flex: 2 1 auto;
}

@media screen and (max-width: 972px) {
    .navbar ul{
        flex-direction: column;
        align-items: center;
        
    }
}

.navbar li {
    padding: 10px 40px;
    font-size: larger;
}

.navbar li:hover {
    border-bottom: 3px solid  ;
}

#name {
    flex: 0 0 auto;
    font-size: 350%;
    font-weight: 400;
}

@media screen and (max-width: 972px) {
    #name {
        font-size: 220%;

    }
}

/* ------------------------------------------------------------------------------------------------------------ */

/* Main body content styling */
main {
    
    min-height: 100vh;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow: auto;
    padding: 0 50px;
    
    
}

main div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main .section-header {
    margin: 50px;
    width: 100%;
    min-width:350px;
    color: Black;
    font-size: 48px;
    font-weight: bold;
    border: coral solid 2px;
    background-color: rgba(127, 255, 212, 0.808);
    border-radius: 25px;
    text-align: center;
}


/* ------------------------------------------------------------------------------------------------------------ */
/* About section styling */
main #about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    padding: 25px;
    flex-wrap: nowrap;
    background-color: #2885B0;
    border-radius: 25px;
    width:90%;
    min-width: 360px;

}

@media screen and (max-width: 768px) {
    main #about{flex-wrap: wrap;}
}

#about p{
    display: flex;
    color:lightgray;
    background-color: #1b1b1b;
    border-radius: 25px;
    height:250px;
    border: 3px solid coral;
    font-size: 24px;
    padding: 20px;
    margin: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    min-width: 350px;
    flex: 1 0;
}

#about #bold {
    color: coral;
    font-weight: 500;
    font-size: x-large;
    text-decoration: underline;
}

#headshot {
    height:250px;
    width: 250px;
    border: 1px none black;
    border-radius: 25%;
}




/* ------------------------------------------------------------------------------------------------------------ */
/* My work section styling */

main .container #work{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 50px;
    flex: 1 1 400px;
}



.project-card {
    padding: 20px;
    background-color: #2885B0;
    border-radius: 25px;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    min-width: none;
}


.project-card h4 {
    display: flex;
    padding:10px;
    margin: 10px;
    color:lightgray;
    background-color: #1b1b1b;
    border: 3px solid coral;
    border-radius: 25px; 
    height:200px;
    align-items: center;
    width: 400px;   
}



.project-card img{
    width: 400px;
    height: 200px;
    border-radius: 25px;
}




/* ------------------------------------------------------------------------------------------------------------ */

/* Footer Styling */

footer .container {
    max-width: 1500px;
    margin: auto;
    overflow: auto;
    padding: 0 50px;
    
}

.contact {
    height: 100px;
    background-color: #2885B0;

}

.contact .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex: 1 1 auto;
    
}

.contact h3 {
    flex: 1 0 auto;
}

.contact ul{
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
}

.contact li {
    padding: 10px 40px;
    font-size: larger;

}

.contact li:hover {
    border-bottom: 3px solid  ;
}
    



